

body {
	font-family: 'Open Sans', sans-serif !important;
	font-size: 16px !important;
	/* padding: 1em !important; */
  }

svg {
	margin-top: -30px;
	margin-bottom: -30px;
}

header, main {
  padding: 20px;
}

header {
  text-align: center;
}

h1 {
  text-align:center !important;
	font-weight:500 !important;
	font-family: 'Archivo' !important;
}

h2 {
  margin: 0.25em 0 !important;
	/* margin-bottom: 30px  !important; */
	text-align:center !important;
	font-weight: 300 !important;
}

p {
	font-size: 1em !important;
	font-weight:300 !important;
	line-height: 1.5 !important;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

section {
  margin-bottom: 20px;
}

.pull-quote {
    /* font-style: italic; */
    font-size: 1.2em;
    color: #333;
    background-color: #f9f9f9;
    border-left: 5px solid #ccc;
    padding: 10px;
    margin: 20px 0;
}

.tooltip {
	position: absolute;
	margin: 0 auto;

	background-color: #fff;
	/* border: 1px solid #ccc; */
	/* border-radius: 5px; */
	padding-top: 0px;
	/* pointer-events: none; */
	opacity: 1;
  }

  .tooltip-film{
	font-weight: 500;
  }

  .tooltip-director{
	font-weight: 300;
  }